.App {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: transparent;
}

h2 {
  font-size: 1.5rem;
}

button,
select,
input {
  font-size: 1.2rem;
}

.tab-content > div {
  margin-bottom: 10px;
}

.tab-content select,
.tab-content input {
  margin-bottom: 10px;
}
